<div class="container">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
 body {
                background-image: url("http://www.pptback.com/uploads/the-meeting-with-school-backgrounds-powerpoint.jpg" );
                background-size:cover;
            }
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
</style>
</head>
<body>

<div class="navbar">
        <a href="http://127.0.0.1:8000/">Home</a>
        <a href="/principalmessage/">Principal's Message</a>
        <a href="/admission/">Admission</a>                            
        <a href="/rulesregulations/">Rules and Relugation</a>
        <a href="/activities_work/">Activities</a>
        <a href="/gallery/">Gallery</a>
        <a href="/Reachus/">Reach us</a>

  <div class="dropdown">
    <button class="dropbtn">Login 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/student/">Student's login</a>
      <a href="/teacher/">Teacher's login</a>
     </div>
  </div> 
 	

</div>

</nav>
<h1 style="text-align:center">ACTIVITIES</h1>
<pre style="text-align:center;color:orangered;font-size:115%;">
<h2 style="color:firebrick">Home Skills</h3>
    Home skills arm students with practical knowledge and valuable experience in personal and social lives. The students are engaged in activities such as interior 
    designing,meal planning, rangoli making, tie and dye and fabric painting and in  hospitality.These skills equip them to be responsible and disciplinarian. They 
    develop aesthetic skills with a scientific aptitude and temperament.
    <h2 style="color:firebrick">Computer Science</h3>
    Computer Science offered to students of classes 1 to XII imparts extensive knowledge, insight aptitude and skills in the arena of science and technology.The 
    practical training enables students to develop a strong foundation in the discipline.This work experience provides an opportunity to the teachers to develop 
    their understanding of the application of computers through Photo and Video Editing,  Audio Mixing, Website Designing, Animation programming and a deep 
    understanding of computing devices.
    <h2 style="color:firebrick">Yoga</h3>
    Enabling students to achieve a balance of body, mind and soul and nurture a spirit of health and wellness for a life time,Yoga is an integral part of the 
    curriculum of the school.Yogic feats, learnt through practice and discipline, ensure the holistic development of students.Yoga leaves a deep impact on their 
    concentration, behaviour, fitness and emotional strength. It empowers students with healthy coping mechanisms in the face of stress, trauma and anxiety.
    <h2 style="color:firebrick">Music</h3>
    Our school is well aware of the fact that music and dance are powerful forms of expressing the inner feelings and vibrating energy.Jindalites are trained in 
    vocal and instrumental music, classical and contemporary folk dances.
    Music has a universal appeal and the world would have been a rather dull and morbid place without music.  
    <h2 style="color:firebrick">ART & CRAFT</h3>
    <p style="color:black;font-size:115%;"><b>"FINE ART IS THAT IN WHICH THE HAND, THE HEAD, AND THE HEART OF MAN GO TOGETHER."</b></p>
    The Art & Craft Department of the school is our pride.Art is a very powerful medium to express one's emotions. To nurture and bring out the hidden talent, drawing, 
    painting or making compositions with one's own hands is a perfect way.The students, at SMPS, have a colourful exposure and experience to express their ability in 
    drawing, painting, sculpture and craft work.
    </pre>    
</div>

<div class="container-2">
        <footer>
            <p style="color:cyan;">Follow us on : </p>
            <a href="https://www.facebook.com/login/">
                <img src="http://freevectorlogo.net/wp-content/uploads/2011/06/facebook-icon-logo-vector-400x400.png" height="30"
                    width="30">
            </a>
            <a href="https://accounts.google.com/ServiceLogin/signinchooser?service=mail&passive=true&rm=false&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin">
                <img src="http://pngimg.com/uploads/gmail_logo/gmail_logo_PNG6.png" heighj="30" width="30">
            </a>
            <a href="https://plus.google.com/discover?hl=en">
                <img src="https://botw-pd.s3.amazonaws.com/styles/logo-thumbnail/s3/012012/google_plus-01.png?itok=4R35nkQu" height="30"
                    width="30">
            </a>
            <a href="https://twitter.com/login?lang=en">
                <img src="https://i.pinimg.com/originals/f3/6f/51/f36f511b261596a2debe85d844bb1b87.png" height="30" width="30">
            </a>
    
        </footer>
        </div>